.appWrapper {
  max-width: 1000px;
  height: 620px;
  padding: 16px;
  margin: 20px auto;
  outline: 1px solid red;
  box-shadow: -6px -6px 9px #fff, 11px 11px 21px -8px #000;
  border-radius: 8px;
}
